@import 'modules/reset';
@import 'modules/tune';
@import 'modules/icons';
@import 'modules/mixins';
/* @import 'sprite'; */

@font-face {
    font-family: "Proxima Nova";
    src: url('assets/proximanovaregular.woff');
  }

.p-hero {
  text-align: center;
  background-image: url('/assets/p-background.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  font-family: "Proxima Nova";
}

.container {
  margin: 0 auto;
  width: 940px;
}

.p-gallery {
  margin: 85px 0 0;
  height: 530px;
}

.p-gallery-pic {
  width: 825px;
  height: 530px;
  float: left;
  background-size: cover;
  }

#p-gallery-2 {
	display: none;
}

#p-gallery-3 {
	display: none;
}

#p-gallery-4 {
	display: none;
}

.p-gallery-prev, .p-gallery-next {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #000000;
  position: absolute;
  margin: 245px 20px 0;
  opacity: 0.3;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: black;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    position: absolute;
    margin: 13px 15px 0;
    -webkit-transform: rotate(45deg);
  }
}

.p-gallery-next {
  margin: 245px 765px 0;

  &:after {
    -webkit-transform: rotate(225deg);
    margin: 13px 10px 0;
  }
}

.p-gallery-thumbs {
  width: 97px;
  height: 325px;
  float: right;
}

.p-gallery-thumb {
  width: 95px;
  height: 95px;
  margin: 0 0 20px;
  cursor: pointer;

  &.is-active {
    outline: 1px solid #205cc0;
  }
}

.p-gallery-logo {
  margin-left: 10px;
  margin-top: 350px;
  position: absolute;
}

.p-switchers {
  margin: 62px auto 115px;
}

.p-switchers-item {
  width: 160px;
  margin: 0 35px;
  display: inline-block;
  cursor: pointer;
}

.p-hero-title {
  color: #333333;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.p-hero-text {
  margin-top: 18px;
  color: #666666;
  text-align: center;
  line-height: 20px;
  word-spacing: 4px;
}

.p-hero-btn {
  width: 316px;
  height: 44px;
  color: white;
  background-color: #bd302a;
  border-radius: 5px;
  border: 0;
  margin: 45px auto 173px;
  cursor: pointer;
  font-size: 15px;
}